/* ============================================== RESPONSIVE-TABLET ============================================== */
@media all and (max-width: 1000px) {
    .img-sld {
        height: 300px;
    }

    .info-kontak {
        margin-right: 20px;
    }

    .top-title {
        padding: 10px;
    }

    .card-img {   
        height: 120px;
    }

    .top-title > p {
        font-size: 10px;
        text-align: center;
        letter-spacing: 2px;   
    }

    .card > .container > p {
        margin-top: 20px;
        font-size: small;        
        height: 80px;
    }
}

/* ============================================== RESPONSIVE-SMARTPHONE ============================================== */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }
  
    .menu-options {
        display: block;
    }

    .header-wrap, .content-wrap, .kontak-wrap {
        font-size: small;     
        flex-direction: column;
    }

    .info-header1, .info-header2 {
        display: flex;
        align-items: center;
        justify-content: center;    
    }

    .img-sld {
        height: 200px;
    }

    #tentang, #kontak {
        font-size: 12px;
    }

    .scroll-wrap > input {
        height: 35px;
        width: 35px;
    }

    .kontak-wrap {   
        min-height: 1000px;
        margin-bottom: 275px;
    }

    .card > .container > p {
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* Copyright © 2021 | All rights Reserved. A52-MKKD-TRAVEL */