/* ============================================== RESPONSIVE-TABLET ============================================== */
@media all and (max-width: 1000px) {

}

/* ============================================== RESPONSIVE-SMARTPHONE ============================================== */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }
  
    .menu-options {
        display: block;
    }

    .header-wrap { 
        font-size: small;     
        flex-direction: column;
    }

    .info-header1, .info-header2 {
        display: flex;
        align-items: center;
        justify-content: center;    
    }
}


/* Copyright © 2021 | All rights Reserved. A52-MKKD-TRAVEL */