/* ============================================== MAIN-HEADER ============================================== */
* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

.clear {
    clear: left;
}

header{
	display: inline;
}

a {
    text-decoration: none;
}

.clear {
	clear: left;
}

html {
	scroll-behavior: smooth;
}

.header {
    background-image: url("../img/headerBG.jpg");
    background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    height: 65px;
    max-width: 100%;
    background: linear-gradient(-45deg, rgba(143, 83, 255),rgba(129, 129, 255));
   	position: sticky;
   	top: 0;
    z-index: 999;
}

.header-right > a {
    font-size: 18px;
   	font-weight: 400;
   	color: white;
	padding: 12px 10px;
}

.header-right > a:hover {
   	font-weight: bold;
	text-transform: inherit;
	text-transform: uppercase;
	color: yellow;
	border-color: rgb(200, 255, 0);
	border-style: dotted;
	text-transform: unset;
	border-radius: 15px;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
    padding-bottom: 100px;
}

.header-right {
    float: right;
}

.header-right > a {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
    margin-top: 6px;
    margin-right: 15px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right > a:hover {    
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
}

.main-logo{
	margin: 0 auto;
	width: 100px;
	height: 100px;
    border-radius: 40px;
    margin-top: -12px;
}

.header-wrap{
    display: flex;    
    flex-direction: row;
}

.info-header1 {      
    padding: 0px 20px 20px 20px;
    flex: 50%;
    display: flex;    
    flex-direction: row;
}

.info-header2 {      
    padding: 0px 20px 20px 20px;
    display: flex;    
    flex-direction: row;
}

.ico-header1{
    position: relative;  
    margin-top: 15px;
    margin-bottom: -5px;
    width: 20px;
	height: 20px;
    background: linear-gradient(-45deg, rgba(143, 83, 255),rgba(78, 78, 255));
    border-radius: 600px;
}

.ico-header2{
    position: relative;  
    margin-top: 15px;
    margin-bottom: -5px;
    margin-right: 10px;
    width: 20px;
	height: 20px;
    border-radius: 3px;
}

.ico-header2:hover {
    font-weight: bold;
	text-transform: inherit;
	text-transform: uppercase;
	border-color: rgb(200, 255, 0);
	border-style: dotted;
	text-transform: unset;
	border-radius: 3px;
    background: rgb(74, 173, 255);
}

.ico-span {
    margin-right: 30px;
    font-size: 12px;
}

.bts1, .bts2 {
    border: 2px solid #4e4eff;
    height: 20px;
    margin-top: 15px;
    margin-bottom: -5px;
    margin-right: 10px;
}

/* Dropdown Button */
.menu-options{
    background-color: rgba(255, 255, 255, 0.3);
    float: right;  
    display: none;    
    height: 35px;
    width: 35px;
    border-radius: 10px;
    margin: 15px 20px;
    border: none;
    cursor: pointer;
}

.menu-icon {
    height: 20px;
    width: 20px;
    line-height: 25px;
}

.menu-options:hover, .menu-options:focus {
    background-color: rgb(52, 86, 238);
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 22px;
    right: 0;
}

.dropdown-content a {    
    color: black;
    padding: 20px 160px 20px 160px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Slide */
.slide-info {     
    position: relative;
    margin-bottom: 100px;     
}

.mySlides {
	display: none;   
}

.mySlides .img-sld {
	border-radius: 10px;
	padding: 5px;
	border: solid 1px #ccc; 
}

.img-sld {
	width: 1200px;
	height: 350px;
	max-width: 100%;    
    display:block;  
    margin: 0 auto;
}

.text {
	font-size: 16px;
	color: black;
	margin-top: 20px;
	font-weight: bold;
    text-align: center;
}

.indikator {
    align-items: center;
    margin: 0 auto;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 1.0s ease;
}

.active {
	background-color: #407af8;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 10.5s;
	animation-name: fade;
	animation-duration: 10.5s;
}

@keyframes fade {
	from {
		opacity: 0.9
	}
	to {
		opacity: 5
	}
}

@media only screen and (max-width: 300px) {
	.text {
		font-size: 11px
	}
}





/* ============================================== MAIN-BODY ============================================== */
body {
    font-family: "Lucida Grande";
}

.about-ico {
    height: 35px;
    width: 35px;
}

.contact-ico {
    height: 35px;
    width: 35px;
}

#tentang {
    margin: 50px 30px 0px 30px;
    min-height: 800px;
}

#kontak {
    margin: 180px 30px 0px 30px;
    min-height: 600px;
}

.content-wrap {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 25%;
    margin: 20px 10px 40px 0px;  
    min-height: 200px;
    max-height: 370px;
}

.card-img {  
    min-height: 80px;  
    z-index: 2;    
    height: 180px;
    width: 100%;
}

.card-img:hover {    
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.bts-atas{
    height: 5px;
    background-color: #407af8;
}

.top-title {        
    position: relative;
    background-color: #4e4eff;
    padding: 10px 10px;
    max-width: 100%;
    float: right;
    margin-top: -40px;
    z-index: 4;
    color: white;
    letter-spacing: 5px;
}

.footer-title {
    padding: 20px;
    position: relative;
    background-color: #2d88ff; 
}

.footer-title > a {    
    font-size: small;
    text-align: center;
    color: white;
}

.footer-title > a:hover {
    color: yellow;
}

.card > .container {
    padding-top: 20px;
    text-align: center;
}

.card > .container > h4 {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.card > .container > p {
    font-size: 15px;
    color: rgb(97, 97, 97);    
    padding: 10px 0px 20px 0px;
}

.card > img {
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.kontak-wrap {
    display: flex;
    flex-direction: row;    
    height: 400px;
    margin-bottom: 40px;
}

.info-kontak {
    flex: 50%;
    margin-top: 20px;    
    margin-bottom: 40px;
}

.container-kontak {
    flex: 50%;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 300px;
    margin-top: 20px;
}

.content-kontak {
    margin-top: 20px; 
    line-height: 30px;
}

.content-kontak > p {
    font-size: 15px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
}

input[type=submit] {
    background-color: #4e4eff;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background: rgb(9, 76, 131);
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.ico-sosmed {
    position: relative;  
    margin-top: 5px;
    margin-bottom: -5px;
    margin-right: 5px;
    width: 20px;
	height: 20px;
}





/* ============================================== MAIN-FOOTER ============================================== */
footer {
    margin-top: -4px;
   	padding: 20px;
   	color: white;
  	background: linear-gradient(-45deg, rgba(143, 83, 255),rgba(78, 78, 255));
   	text-align: center;
   	font-weight: bold;
}

.footer-img {
    max-width: 100%;
    height: 500px;
    margin-top: -690px;
    z-index: 2;
}

.scroll-wrap {
    float: right;
    position: relative;
    margin-right: 20px;
    margin-top: -60px;    
    background: linear-gradient(-45deg, rgb(26, 133, 255),rgb(0, 0, 255));
    border-radius: 5px;
}

.scroll-wrap > input {
    height: 50px;
    width: 50px;
    padding: 5px 5px 5px 5px;
    color: white;
}

#scrollup:hover {
    border-color: rgb(200, 255, 0);
	border-style: dotted;
	text-transform: unset;
	border-radius: 3px;
    background: rgb(29, 124, 202);
}

/* Copyright © 2021 | All rights Reserved. A52-MKKD-TRAVEL */